<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container my-5">
    <div class="jumbotron">
        <h3 class="display-4">☀️User Information ☀️</h3>
        <p class="lead">Hi You are in WAS server:)</p>
        <p class="lead">You can enter your information here.</p>
        <hr class="my-4">
        <div id="userInfoForm">
            <h4>User Information</h4>
            <form>
                <div class="form-group">
                    <label for="userName">User Name:</label>
                    <input type="text" class="form-control" id="userName" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="loanAmount">Loan Amount:</label>
                    <input type="number" class="form-control" id="loanAmount" placeholder="Enter loan amount">
                </div>
                <div class="form-group">
                    <label for="loanDuration">Loan Duration (in months):</label>
                    <input type="number" class="form-control" id="loanDuration" placeholder="Enter loan duration">
                </div>
                <a th:href="@{/app/compareData}" class="btn btn-secondary">Get Data</a>
                <button type="button" class="btn btn-primary" onclick="saveUserInfo()">Submit</button>
            </form>
            <div th:if="${result}" th:text="${result}" class="mt-3"></div>
        </div>
        <a href="/home.html" class="btn btn-secondary mt-3">Go to Home</a>
    </div>
</div>

<script>
    function saveUserInfo() {
        var userName = $('#userName').val();
        var loanAmount = $('#loanAmount').val();
        var loanDuration = $('#loanDuration').val();

        // 입력한 정보를 객체로 만듭니다.
        var userInfo = {
            userName: userName,
            loanAmount: loanAmount,
            loanDuration: loanDuration
        };

        // 서버로 정보를 전송합니다.
        $.ajax({
            type: 'POST',
            url: '/app/saveUserInfo',
            data: JSON.stringify(userInfo),
            contentType: 'application/json',
            success: function(response) {
                if (response === "User information saved successfully.") {
                    alert('Data saved successfully!');
                } else {
                    alert('Failed to save user information: ' + response);
                }
                $('#result').html('<p>' + response + '</p>');
            },
            error: function(xhr, textStatus, errorThrown) {
                if (textStatus === 'timeout') {
                    alert('Operation timed out. Failed to save user information.');
                } else if (textStatus === 'error' && xhr.status === 0) {
                    alert('Communications link failure. Failed to connect to the database.');
                } else {
                    alert('Failed to save user information: ' + xhr.responseText);
                }
            }
        });
    }
</script>